<nav>
    <a class="explore-link" href="/users/index.ejs">Explore Our Community</a>
    <a class="home-link" href="/">Home</a>
    <% if(user) { %>
        <a class="pantry-link" href="/users/<%=user._id%>/foods">View my Pantry</a>
        <a class="signout-link" href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <div class="auth-links">
        <a class="singin-link" href="/auth/sign-in">Sign In</a>
        <a class="signup-link" href="/auth/sign-up">Sign Up</a>
    </div>
    <% } %>
  </nav>
  